<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard_style.css">
    <title>Home Page</title>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Permission</h2>
            <ul>
                <li><a href="http://localhost:8080/home"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="http://localhost:8080/dashboard"><i class="fa fa-address-card-o"></i>Profile</a></li>
                <!-- <li><a href="#"><i class="fa fa-address-book-o"></i>Contact </a></li> -->
                <li><a href="http://localhost:8080/logout"><i class="fa fa-sign-out"></i>Logout </a></li>
            </ul>
        </div>
    </div>
    <div class="style">
        <div class="container">
            <h1 style="color:#4b4276;">Welcome
            </h1>
        </div><br>
        <div class="container">
            <h1 style="color: #4b4276;">Have a nice day!</h1>
        </div><br><br><br><br><br><br><br><br><br><br>
        <center>
            <div class="img">
                <img src="https://cdn-icons-png.flaticon.com/64/8820/8820320.png"> <b><span style="color: #4b4276;">HOME
                        PAGE</span></b>
            </div>
        </center>
    </div>

</body>

</html>